<a href="https://colab.research.google.com/github/yash5891/Machine-Learning-Assignments/blob/main/ds_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Test

**Exam duration:**
24 hours  

**Required output:**
The uploaded solution must be an ipython notebook (a file of type `ipynb`). All code must be written in python. All text must be written in Markdown.

You may use Colab, Jupyter lab, Jupyter notebook or any other program to complete the exam.

Upload your solution to Github before the deadline. You will get the upload link at bottom of the test.

#### Before submission

Make sure you are submitting error free code!

Click Run --> Restart Kernal and Run all cells.

#### Honor code

As a student of AI Adventures, I **[enter_your_name here]** pledge to:

1. Uphold the values of academic integrity, honesty, and respect in all of my academic work.

2. Not engage in any form of academic misconduct, including cheating, plagiarism, or using unauthorized resources during exams.

3. Commit to not using ChatGPT or any other AI language model during exam hours, and to rely only on my own knowledge, skills, and resources.

4. Follow all exam rules and instructions, and not bring any unauthorized materials, devices, or resources into the exam room.

5. Report any incidents of academic misconduct that I witness or become aware of, and cooperate fully with any investigation into such incidents.

6. Not ask mentors questions that relate directly to coding during exams, such as "why does my code snippet not work as expected?" or "how do I implement...?"

7. If I am stuck with implementation during an exam, I am allowed to use Google as a resource.

By signing this pledge, I commit to upholding the highest standards of academic integrity and to avoiding all forms of cheating or academic misconduct during my studies at AI Adventures. I understand that violating this pledge may result in disciplinary actions.

#### Answering the questions
Most of the questions require you to implement something in Python but there might be some questions for which you do not need to write any code.

For code questions (that is - almost all questions): you are required to show the **python** code you used to find the answer. An answer found using excel or other tools will not be accepted. The code should also be general, so that it would still work if the data were to change.

The code output should only show the answer to the question with no extras. For example: if asked on 2018 data, show only 2018 data (and not 2015-2017 data in addition).

We provide cells in which you can type your answer. Use can modify the to `Code` or `Markdown`. Use `Code` to write python code, and `Markdown` for explanations.  

You are not required to use all the cells we provide, and you are also not required to use only the cells we provide. You may add or remove answer cell as you need.

#### Libraries

To answer the questions you may use:
- any library you prefer (not necessarily the ones which were presented in the course)
- all materials that we have provided you during the courses
- the whole www (especially documentation of libraries and sites like stackoverflow may give you useful hints)

In case something does not work as expected, check that you have the most recent version of the library.

You can update your used libraries with a command like the following:

In [ ]:
# !pip install -U <library_name>
# remove the '#' sign in case you want to update any of the libraries

# Good Luck!

---

## The dataset

Wildlife strikes with aircraft are increasing worldwide. Collecting and analyzing accurate data on wildlife strikes helps to better understand the scope and nature of the problem.\
In this exam, you will work with data on aircraft-wildlife collisions, courtesy of the [Federal Aviation Administration](https://wildlife.faa.gov/search)\
This dataset contains reports received from airlines, airports, pilots on aircraft collisions with wildlife.\
See the file: `about_the_dataset.xlsx` for an explanation on the columns in the dataset.

## Task 1 - Code of honor (mandatory, no points):

Please copy the following sentence and add your full name:

As a student of AI Adventures, I `yash` pledge to:

1. Uphold the values of academic integrity, honesty, and respect in all of my academic work.

2. Not engage in any form of academic misconduct, including cheating, plagiarism, or using unauthorized resources during exams.

3. Commit to not using ChatGPT or any other AI language model during exam hours, and to rely only on my own knowledge, skills, and resources.

4. Follow all exam rules and instructions, and not bring any unauthorized materials, devices, or resources into the exam room.

5. Report any incidents of academic misconduct that I witness or become aware of, and cooperate fully with any investigation into such incidents.

6. Not ask mentors questions that relate directly to coding during exams, such as "why does my code snippet not work as expected?" or "how do I implement...?"

7. If I am stuck with implementation during an exam, I am allowed to use Google as a resource.

By signing this pledge, I commit to upholding the highest standards of academic integrity and to avoiding all forms of cheating or academic misconduct during my studies at AI Adventures. I understand that violating this pledge may result in disciplinary actions.

-------------------------------------------------------------------------------------

## Task 2 - Data Import

In [ ]:
from urllib import request
import pandas as pd
module_urls = ["https://media.githubusercontent.com/media/Ai-Adventures/Test_Datasets/main/strikes_from_2020.csv","https://media.githubusercontent.com/media/Ai-Adventures/Test_Datasets/main/strikes_until_2020.csv"]
for url in module_urls:
  print(f'Fetching {url}')
  module_name = url.split('/')[-1]
  #with open("file_1.txt") as f1, open("file_2.txt") as f2
  with request.urlopen(url) as f, open(module_name,'w') as outf:
    a = f.read()
    outf.write(a.decode('utf-8'))


df1 = pd.read_csv('strikes_from_2020.csv')
df2 = pd.read_csv('strikes_until_2020.csv')
# this fills empty cells with empty strings
df1.head()

Fetching https://media.githubusercontent.com/media/Ai-Adventures/Test_Datasets/main/strikes_from_2020.csv
Fetching https://media.githubusercontent.com/media/Ai-Adventures/Test_Datasets/main/strikes_until_2020.csv

<ipython-input-2-7d7349daf0e5>:14: DtypeWarning: Columns (18,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('strikes_until_2020.csv')

,Unnamed: 0,INDEX_NR,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,TIME,TIME_OF_DAY,AIRPORT_ID,AIRPORT,LATITUDE,...,ENROUTE_STATE,NR_INJURIES,NR_FATALITIES,COMMENTS,REPORTED_NAME,REPORTED_TITLE,SOURCE,PERSON,LUPDATE,TRANSFER
0,224953,1082851,05/01/2021 0:00,1,2021,NaN,NaN,MNMG,MANAGUA INTL ARPT,12.141494,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,06/01/2021 0:00,0
1,224997,1082943,01/01/2021 0:00,1,2021,8:25,NaN,KRFD,CHICAGO/ROCKFORD INTL ARPT,42.195360,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Carcass Found,06/01/2021 0:00,0
2,224998,1082950,02/01/2021 0:00,1,2021,1:01,NaN,KTPA,TAMPA INTL,27.975470,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Carcass Found,06/01/2021 0:00,0
3,224999,1082951,02/01/2021 0:00,1,2021,1:55,NaN,KTPA,TAMPA INTL,27.975470,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Carcass Found,06/01/2021 0:00,0
4,225000,1082953,01/01/2021 0:00,1,2021,15:30,Dusk,KEVV,EVANSVILLE REGIONAL,38.037990,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,06/01/2021 0:00,0

You will find two files:\
`strikes_until_2020.csv` - contains data on reported strikes up until 2020.\
`strikes_from_2020.csv` - contains data on reported strikes from the beginning of 2020 and onward.

#### Task 2.1
Place the files in the same directory with this python notebook.

Read the files into dataframes. If you are unsure how to import a file
using column names from a list, have a look at the documentation of the function that you use
for the import. You may want to look into the original csv-file to find out how to configure the import.\
Note: you might encounter a `DtypeWarning` when reading the files. You can ignore this warning.

In [ ]:
df1=pd.DataFrame[]

SyntaxError: invalid syntax (<ipython-input-3-7d7e685340c4>, line 1)

#### Task 2.2
How many rows and how many columns does each dataframe contain?

In [ ]:
df1.shape

(31472, 102)

#### Task 2.3
Present all of column names of one of the dataframes

In [ ]:
df1.columns

Index(['Unnamed: 0', 'INDEX_NR', 'INCIDENT_DATE', 'INCIDENT_MONTH',
       'INCIDENT_YEAR', 'TIME', 'TIME_OF_DAY', 'AIRPORT_ID', 'AIRPORT',
       'LATITUDE',
       ...
       'ENROUTE_STATE', 'NR_INJURIES', 'NR_FATALITIES', 'COMMENTS',
       'REPORTED_NAME', 'REPORTED_TITLE', 'SOURCE', 'PERSON', 'LUPDATE',
       'TRANSFER'],
      dtype='object', length=102)

## Task 3 - Data Preprocessing

#### Task 3.1
Combine the two dataframes: `strikes_until_2020` and `strikes_from_2020` into one dataframe named `all_strikes`. \
Present three rows of the dataframe.

In [ ]:
all_strikes=pd.concat([df1, df2])
all_strikes.shape

(263880, 102)

#### Task 3.2

Remove from the dataframe  columns that contain more than 60,000 missing values. How many columns are left?\
Note: in this question, as in the next ones, make sure to assign back to `all_strikes`

In [ ]:
threshold = 60000
all_strikes = all_strikes.dropna(axis=1, thresh=all_strikes.shape[0] - threshold)

# Count the remaining columns
remaining_columns = all_strikes.shape[1]
remaining_columns

64

#### Task 3.3
Remove columns that contain the same values in ALL rows.\
Print the names of the columns you removed.

In [ ]:
# prompt: Remove columns that contain the same values in ALL rows.
# Print the names of the columns you removed.

def remove_constant_columns(df):
  constant_columns = []
  for column in df.columns:
    if df[column].nunique() == 1:
      constant_columns.append(column)
  df.drop(columns=constant_columns, inplace=True)
  return constant_columns

constant_columns = remove_constant_columns(all_strikes)
print("Removed constant columns:", constant_columns)

Removed constant columns: ['STR_STR', 'REPORTED_NAME', 'REPORTED_TITLE', 'TRANSFER']

#### Task 3.4

Set the datatype of the date column to be of type datetime.\
This may prove to be a little tricky. You can use: `all_strikes['INCIDENT_DATE'].str[:-5]` to help.

In [ ]:
# prompt: Set the datatype of the date column to be of type datetime

import pandas as pd
all_strikes['INCIDENT_DATE'] = pd.to_datetime(all_strikes['INCIDENT_DATE'])
all_strikes["INCIDENT_DATE"]

0        2021-05-01
1        2021-01-01
2        2021-02-01
3        2021-02-01
4        2021-01-01
            ...
232403   2012-08-26
232404   2017-05-22
232405   2016-03-01
232406   2017-05-08
232407   2018-05-26
Name: INCIDENT_DATE, Length: 263880, dtype: datetime64[ns]

#### Task 3.5

The `NUM_STRUCK` column should report the number of birds that struck the aircraft.\
Print all the unique values in this column (for example, if this column contains only `11` and `22` then print: 11, 22)

In [ ]:
# prompt: The NUM_STRUCK column should report the number of birds that struck the aircraf

unique_num_struck = all_strikes['NUM_STRUCK'].unique()
print("Unique values in NUM_STRUCK column:", unique_num_struck)

Unique values in NUM_STRUCK column: ['1' '11-100' '02-Oct' nan 'More than 100']

#### Task 3.6

For the `NUM_STRUCK` column, replace the value: `02-Oct` with the value: `2-10`\
Then, reprint all unique values in this column.

In [ ]:
# prompt: For the NUM_STRUCK column, replace the value: 02-Oct with the value: 2-10

all_strikes['NUM_STRUCK'] = all_strikes['NUM_STRUCK'].replace('02-Oct', '2-10')
unique_num_struck = all_strikes['NUM_STRUCK'].unique()
print("Unique values in NUM_STRUCK column:", unique_num_struck)

Unique values in NUM_STRUCK column: ['1' '11-100' '2-10' nan 'More than 100']

#### Task 3.7

There are columns that specify if a certain part of the aircraft was struck. Their values are either `0` or `1`.\
For example, `STR_WINDSHLD`=1 means that the aircraft was struck on its windshield.\
All columns indicating a strike begin with `STR_`.

You need to add a column that accumlates the number of strikes for each aircraft (each row in the dataframe).\
Name the new column: `total_struck`\
Print the mean number of strikes using this function: `all_strikes["STR_total"].mean()`

In [ ]:
# prompt: There are columns that specify if a certain part of the aircraft was struck. Their values are either 0 or 1.
# For example, STR_WINDSHLD=1 means that the aircraft was struck on its windshield.
# All columns indicating a strike begin with STR_.
# You need to add a column that accumlates the number of strikes for each aircraft (each row in the dataframe).
# Name the new column: total_struck
# Print the mean

# Calculate the total number of strikes for each aircraft
all_strikes['total_struck'] = all_strikes.filter(regex='STR_').sum(axis=1)

# Print the mean number of strikes
print(all_strikes["total_struck"].mean())

0.8371987266939518

#### Task 3.8

Now, find all columns that indicate a certain part of the aircraft was damaged (hint: these columns begin with `DAM`).\
Add a column named: `total_damaged` that indicates the total damaged parts of an aircraft.\
Print the mean damage.

In [ ]:

all_strikes['total_damaged'] = all_strikes.filter(regex='DAM_').sum(axis=1)
all_strikes["total_damaged"].mean()

0.08663786569652873

## CHECKPOINT (not obligatory)

If you are not sure that you performed the previous tasks correctly, you can now import the pickle: `strikes_checkpoint` and continue your work with it.\
Note: the file is compressed with zip, you need to unzip it first.

In [ ]:
import pandas as pd
all_strikes = pd.read_pickle('strikes_checkpoint')

FileNotFoundError: [Errno 2] No such file or directory: 'strikes_checkpoint'

## Task 4 - Filtering

#### Task 4.1

Create a dataframe that contains only data from aircraft of type `A-320` from `INCIDENT_DATE` 1.1.2022 and onward.\
How many rows does your dataframe contain?

#### Task 4.2

Create a dataframe the contains only data where the number `DMG_total`  (the total damage) is 5 or more.\
Print the number of rows in the dataframe.

## Task 5 - Data Analysis

#### Task 5.1

Each reported incident is a row in the dataframe.\
Which airports (column `AIRPORT`) reported the most incidents?\
Present the names of the 10 airports who reported the most incidents.\
Note: You will see that the most common airport is `UNKNOWN`. Omit it and look at the 10 airports with a known name (for example: `MEMPHIS INTL` is one of these 10 airports)

#### Task 5.2
Create a dataframe that contains only the 10 airports that reported the most incidents.\
Print the percentage of incidents (out of the total amount of incidents) reported by these 10 airports

#### Task 5.3

When do most incidents occur?
Create a table that displays the average number of strikes (as indicated by the column `STR_total`) and the average damage (column `DMG_total`) at different times during the day (`TIME_OF_DAY`)

#### Task 5.4

Do warnings help?\
Create a table showing the total number of strikes (`STR_total`) when a warning was issued or not issued (column `WARNED`).\
Omit rows where it is unknown whether or not a warning was issued.

#### Task 5.5
Who reports the incidents most often? Use the column `PERSON` to find out.

#### Task 5.6

Who reports the incidents most often **when there is damage to the aircraft**?

Create a table that displays the reporting person (`PERSON`) and the total damage (`DMG_total`) and total strikes (`STR_total`)

## Task 6 - Data Visualization

#### Task 6.1

Present **one** histogram plot that contains **two** distributions: the `SPEED` when there was and wasn't a warning (column `WARNED`)\
Note:
* Remove outliers: that is, remove the two rows where the speed is higher than 1000 mph.
* Do not display incidents with an Unknown warning.
* Do not use more than 20 bins (see [histplot documentation](https://seaborn.pydata.org/generated/seaborn.histplot.html) )

#### Task 6.2

Present a figure that compares the `DMG_Total` in 2017-2022 (`INCIDENT_YEAR`), for different warnings (`WARNED`) types.

#### Task 6.3

Create a figure that compares and displays **how many** strikes (`STR_total`) occurred in different phases of the flight (`PHASE_OF_FLIGHT`). The figure should only present cases where there are 8 or more total strikes (`STR_total`). Make sure the categories on the x-axis are readable.

#### Task 6.4

Create a figure that displays the correlation between the `HEIGHT` and the total strikes (`STR_total`)

#### Task 6.5

Create a figure that shows the **median** speed in different times of the day (`SPEED`, `TIME_OF_DAY`).
Do not show cases where the speed is higher than 500 mph.

## Task 7 - Statistics

#### Task 7.1 (2 points):

Which type of t-test should be used to determine if there is a statistical difference between the number of strikes (`STR_total`) when there was\wasn't a warning (`WARNED=Yes\No`)

#### Task 7.2

Apply the test you suggested in the previous task.

#### Task 7.3  

What do the results tell us?
Briefly interpret the results.

#### Task 7.4

Which type of test should be used to determine whether the proportion of total damage (`DMG_total`) out of all the total strikes (`STR_total`), is constant in all `INCIDENT_YEAR`?

#### Task 7.5

Apply the test you suggested in the previous task.

#### Task 7.6

Briefly interpret the results.

## Task 8 - Web scraping

#### Task 8.1
How much do airplanes cost on ebay?

Analyze this link: https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2334524.m570.l1313&_nkw=airplanes&_sacat=0&LH_TitleDesc=0&_odkw=planes&_osacat=0&_sop=12&LH_PrefLoc=2

Create a list of the **names** of all items sold on this page. No need to scroll to the next pages.

#### Task 8.2

Create a list of all the **item prices** sold on this page. Again, focus only on this first page of results.

#### Task 8.3

Combine both lists into a dataframe and print the dataframe. It should show the item names and prices.